<div id="carousel-{{ id }}" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for media in medias %}
    <div class="item">{% thumbnail media, 'small' %}</div>
    {% endfor %}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>