@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

/* Brickstorm */
.brickstorm {
  font-family: 'Lobster',cursive;
  font-weight: normal;
  text-rendering: optimizelegibility;
  line-height: 1;
  color:inherit;
  font-size:2em;
  text-align:center;
  color:#CCC;
}

.navbar .brand {
  font-family: 'Lobster',cursive;
font-size:2.0em;
padding:5px 20px;
}