{% extends 'BrickstormSolidRBundle::layout.html.twig' %}

{% block title %}{{ 'page.title.join'|trans }}{% endblock %}


{% block content %}

<h1>{{ 'join.us.h1'|trans }}</h1>
<div class="row">
  <div class="span8 well">
    {{ 'join.us.pitch'|trans }}
  </div>
</div>
{% endblock %}